# select drafts
./drafts/*

!./drafts/Light_verification_ARTwarp_outputs.py
!./drafts/matlab2python.py
!./drafts/MCCI.py
!./drafts/select_whistles.py
!./drafts/WCT_old_analysis.py
!./whistles_per_day
!./whistles_per_sequence

# select resouces
./resources/*

!./resources/ARTwarp_outputs/Verification_outputs
!./resources/ARTwarp_outputs/clean_JSONs

!./resources/DF-whistles/group_ID_datetime.csv
!./resources/DF-whistles/whistles_features.csv
!./resources/DF-whistles/smooth/all

!./resources/dtw_resources/contour_features.csv
!./resources/dtw_resources/contour_with_category.csv
!./resources/dtw_resources/dtw_distance_matrix.npy
!./resources/dtw_resources/dtw_distance_matrix_IDs.npy
!./resources/dtw_resources/dtw_distance_matrix_reduced.npy
!./resources/dtw_resources/dtw_distance_matrix_reduced_IDs.npy